<tr>
  <td class="font-mono whitespace-nowrap">
    {{ a.code }}
    {% if a.timed_out %}<span class="badge badge-xs badge-error ml-1">Timed Out</span>{% endif %}
  </td>
  <td class="whitespace-nowrap">{{ a.learner.first_names }} {{ a.learner.surname }}</td>
  <td class="opacity-70">{{ a.template.name }}{% if a.template.version %} {{ a.template.version }}{% endif %}</td>
  <td class="whitespace-nowrap opacity-70">{{ a.last_activity_at|default:a.started_at }}</td>
  <td class="text-right font-mono">{{ a.response_count }}</td>
  <td class="text-right">
    {% if active_tab != 'in_progress' %}
      <a class="btn btn-sm btn-outline" href="{% url 'assessment:assessor_mark_attempt' a.code %}?from_tab={{ active_tab }}">Mark</a>
    {% endif %}
  </td>
</tr>
