# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Django
db.sqlite3
*.log
media/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# node / tailwind
node_modules/
dist/

# Application Migrations
assessment/migrations/
