[MASTER]
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    broad-exception-caught,
    broad-exception-raised,
    fixme

[FORMAT]
max-line-length=100
